.featured-algorithms {
	margin-top: 2rem;
}

.card {
	border: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 1rem;
}

.card-img {
	width: 100%;
	height: auto;
	object-fit: cover;
	aspect-ratio: 16 / 9;
	object-position: center;
}

.card-body {
	padding: 1.25rem;
}

.card-title {
	font-size: 1.5rem;
	font-weight: 700;
}

.card-text {
	font-size: 1rem;
	font-weight: 400;
}