.sidebar {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 200px;
	height: 100%;
	background: radial-gradient(circle at center, #3C5065, #253341);
	transition: all 0.3s;
	padding-top: 20px;
}

.sidebar .algorithms {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
}

.sidebar .algorithms button {
	width: 100%;
	padding: 5px 10px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	text-align: left;
	color: #fff;
}

.sidebar .algorithms button:hover {
	background-color: #4E5D6C;
}