.sorting-visualizer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.sorting-visualizer-svg {
	background-color: #eee;
}

.bar {
	fill: steelblue;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.generate-button {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	background-color: steelblue;
	border: none;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
}

.generate-button:hover {
	background-color: #1a508b;
}