.top-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
}

.sorting-visualizer {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #1C2833;
}

.visualizer-container {
	display: flex;
	flex-direction: row;
	margin-left: 300px;
	width: 100%;
}

.sorting-visualizer-svg {
	width: 100%;
	height: 100%;
}

.generate-button {
	margin-top: 10px;
	background-color: #2C3E50;
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
}

.algo-compass-container {
	width: 300px;
	height: 500px;
}

.generate-button:hover {
	background-color: #4E5D6C;
}

.sorting-button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 20%;
	margin-left: 100px;
}

.sorting-button {
	margin-top: 10px;
	background-color: #2C3E50;
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
}

.sorting-button:focus,
.sorting-button:active {
	background-color: #4E5D6C;
}

.sorting-button:disabled {
	background-color: #858585;
	cursor: not-allowed;
}

.sorting-button:hover {
	background-color: #4E5D6C;
}

.sorting-button:disabled:hover {
	background-color: #646464;
	cursor: not-allowed;
}

.large-button {
	width: auto;
	font-size: 35px;
	padding: 24px 36px;
	box-shadow: 0 8px 12px rgba(110, 110, 110, 0.1);
	transition: box-shadow 0.3s ease;
	white-space: nowrap;
}

.large-button:hover {
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.large-button-text {
	font-weight: bold;
}

.slider-label {
	font-weight: bold;
	color: #fff;
	margin-right: 10px;
	min-width: 130px;
}

.animation-speed-slider-container span {
	margin-left: 10px;
}

.algo-compass-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin-left: 100px;
}